.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-table-1 {
  margin-top: 74px;
  margin-bottom: 60px;
}

.u-block-4553-7 {
  font-weight: 400;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-1 .u-table-footer-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-21 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-22 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-23 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-24 {
  font-weight: 400;
}